* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto slab", serif;
}

:root {
  font-size: clamp(1rem, 1.2vmax, 1.2rem);
}

html,
body {
  height: 100%;
}

body {
  --accent-color: rgb(219, 32, 45);
  --secondary-color: #ffac2e;
  --text-color: 34, 34, 34;
  --foreground-color: 252, 253, 255;
  --background-color: 241, 243, 248;
  --danger-color: rgb(255, 75, 75);
  --green: rgb(91, 33, 255);
  --yellow: rgb(220, 165, 0);
  color: rgba(var(--text-color), 1);
  background-color: rgba(var(--background-color), 1);
}

body[data-theme=dark] {
  --accent-color: #92a2ff;
  --secondary-color: #d60739;
  --text-color: 200, 200, 200;
  --foreground-color: 27, 28, 29;
  --background-color: 21, 22, 22;
  --danger-color: rgb(255, 106, 106);
  --green: #00e676;
  --yellow: rgb(255, 213, 5);
}
body[data-theme=dark] ::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

button {
  padding: 1rem;
  font-size: inherit;
  background-color: var(--accent-color);
  border: none;
  border-radius: 0.3rem;
  color: white;
  font-weight: 500;
  cursor: pointer;
}

.capitalize {
  text-transform: capitalize;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.grid {
  display: grid;
}

.gap-0-3 {
  gap: 0.3rem;
}

.gap-0-5 {
  gap: 0.5rem;
}

.align-items-center {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.wrap-around {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -webkit-hyphens: auto;
          hyphens: auto;
}

.margin-left-auto {
  margin-left: auto;
}

.observe-empty-state:empty,
.observe-empty-state:not(:empty) ~ .empty-state {
  display: none !important;
}

#loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 1rem;
}

#home > * {
  width: min(100%, 56rem);
  margin: 0 auto;
}
#home header {
  display: grid;
  width: 100%;
  background: linear-gradient(#e32e4a, #bd142e);
  padding-bottom: 3rem;
  margin-bottom: -2rem;
}
#home .rm-logo {
  margin-top: 10vmax;
  height: 2rem;
  justify-self: center;
  background-color: rgba(0, 0, 0, 0.2);
  height: 4rem;
  width: 4rem;
  padding: 1rem;
  border-radius: 5rem;
  fill: rgba(var(--foreground-color), 1);
}
#home h1 {
  padding: 1rem;
  font-size: max(1.8rem, 3vw);
  text-align: center;
  color: rgba(var(--foreground-color), 1);
}
@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

#cert_sec {
  padding: 1.5rem;
  font-family: "intern";
}

#search_certificates {
  position: -webkit-sticky;
  position: sticky;
  top: 1rem;
  width: min(24rem, 100% - 2rem);
  margin: 0 auto;
  --border-radius: 0.5rem;
  border-radius: 0.5rem;
  --padding: 1rem 1.2rem;
  --background: rgba(var(--foreground-color), 1);
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  border: solid thin rgba(var(--text-color), 0.2);
}

#issued_cert_list {
  display: grid;
  gap: 1rem;
  padding: 1rem;
  padding-bottom: 4rem;
  margin-top: 1rem;
}

.button {
  display: flex;
  align-items: center;
  padding: 0.4rem 0.8rem;
  text-decoration: none;
  border-radius: 3rem;
  font-weight: 500;
  color: var(--accent-color);
  font-size: 0.9rem;
  gap: 0.3rem;
}
.button--primary {
  background-color: var(--accent-color);
  color: white;
}
.button--primary .icon {
  fill: white;
}
.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  filter: saturate(0);
}

a.button {
  background-color: rgba(189, 20, 46, 0.062745098);
}

.cert-card {
  display: grid;
  gap: 0.6rem;
  padding: max(1rem, 1.5vw);
  background-color: rgba(var(--foreground-color), 1);
  border-radius: 0.5rem;
}
.cert-card h4 {
  font-size: 1.2rem;
}
.cert-card time {
  font-size: 0.9rem;
  color: rgba(var(--text-color), 0.8);
}
.cert-card p {
  font-size: 0.9rem;
  color: rgba(var(--text-color), 0.9);
}
.cert-card .tag {
  padding: 0.3rem 0.5rem;
  border-radius: 0.3rem;
  font-size: 0.9rem;
  font-weight: 500;
  color: rgba(var(--text-color), 0.9);
  background-color: rgba(var(--text-color), 0.06);
  margin-right: auto;
}
.cert-card .tag::first-letter {
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .cert-card {
    margin: 0 -1rem;
    gap: 1rem;
  }
}
.hidden {
  display: none !important;
}